* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 840px;
}

aside {
  width: 25rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #e3dac9;
  color: #333;
  text-align: center;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

main img {
  width: 200px;
  height: auto;
  float: right;
}

p {
  padding: 0;
}

footer {
  margin-top: 24px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

aside {
  width: 20em;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #9ee37d;
  color: #000;
}
