main {
  width: 80%;
  margin: 0 auto;
}

aside {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #ddd;
  text-align: center;
}
